/* Barra de navegación */
.navbar {
    background-color: #333;
    overflow: hidden;
    padding: 10px 0;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar ul li {
    margin: 0 15px;
}

.navbar ul li a {
    display: flex;
    align-items: center;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    padding: 8px;
    transition: background-color 0.3s ease;
}

.navbar ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

/* Estilo para las imágenes dentro de la barra de navegación */
.navbar ul li a img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    vertical-align: middle;
}

/* Estilos para el formulario */
form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

form div {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

form button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #45a049;
}

/* Estilos para mensajes de error y respuesta */
form label[id^="error"] {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

#txtRespuesta {
    font-weight: bold;
    font-size: 18px;
    color: #333;
    text-align: center;
    margin-top: 10px;
}
body {
    background: #b2ffb2;
    font-family: Arial, sans-serif;
}
.navbar ul li a img {
    width: 100%;
  height: auto;
  border-radius: 8px;
  margin: 15px 0;
}
h3 {
    color: #004d00; /* Color verde oscuro */
    font-size: 24px; /* Tamaño de fuente */
    font-weight: bold; /* Negrita */
    text-align: center; /* Centrar el texto */
    margin: 20px 0; /* Espaciado arriba y abajo */
}